<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Iot"
        tools:targetApi="31">
        <activity
            android:name=".cliente.PedidoFinalizadoActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".cliente.PreloaderActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.CreandoPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.MenuClienteActivity"
            android:exported="false" />
        <activity
            android:name=".superadmin.reporte_restaurante_superadmin"
            android:exported="false" />
        <activity
            android:name=".cliente.ConfirmarPagoActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.PedidoAceptadoCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.SearchRestaurantesActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.VerMasProductosClienteActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.ListaRestaurantesCategoriasClienteActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.TodosLosProductosActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.SeguimientoPedido2Activity"
            android:exported="true" />
        <activity
            android:name=".cliente.SeguimientoPedidoActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.RealizarPedidoActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.CarritoClienteActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.PerfilRestauranteActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.DetallesPedidoActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.HistorialPedidosActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.InicioClienteActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.PerfilClienteActivity"
            android:exported="true" />
        <activity
            android:name=".superadmin.perfil_superadmin"
            android:exported="false" />
        <activity
            android:name=".superadmin.editar_perfil_superadmin"
            android:exported="false" />
        <activity
            android:name=".superadmin.gestion_usuarios_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.gestion_reportes_superadmin"
            android:exported="true"></activity>
        <activity
            android:name=".superadmin.lista_usuarios_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.lista_restaurantes_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.reportes_recibidos_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.ver_logs_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.solicitudes_repartidores_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.registro_admin_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.registro_restaurante_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.info_solitud_repartidor_superadmin"
            android:exported="true" />
        <activity
            android:name=".superadmin.info_usuario_superadmin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.AbrirRestauranteActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.InicioRestauranteActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.PedidoDetallesActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.DetallePlatoActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.DetalleUsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.DetalleOrdenActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.AgregarProductoActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.AgregarCategoriaActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.EditarProductoActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.EditPersonalInfoActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.EditRestaurantInfoActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.InfoPedidoHistorialActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.ViewRestaurantScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".admin_restaurante.MasDetallesPedidoActivity"
            android:exported="true" />
        <activity
            android:name=".repartidor.RegistroRepartidorActivity"
            android:exported="true" />
        <activity
            android:name=".repartidor.InicioRepartidorActivity"
            android:exported="true" />
        <activity
            android:name=".repartidor.NuevoPedidoActivity"
            android:exported="true" />
        <activity
            android:name=".repartidor.RecojoCurso1Activity"
            android:exported="true" />
        <activity
            android:name=".repartidor.RecojoCurso2Activity"
            android:exported="true" />
        <activity
            android:name=".repartidor.EntregaCurso1Activity"
            android:exported="true" />
        <activity
            android:name=".repartidor.EntregaCurso2Activity"
            android:exported="true" />
        <activity
            android:name=".repartidor.HistorialRepartidorActivity"
            android:exported="true" />
        <activity
            android:name=".repartidor.PerfilRepartidorActivity"
            android:exported="true" />
        <activity
            android:name=".repartidor.EditarPerfilRepartidorActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".CompleteRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterRepartidorActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>

</manifest>