<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Iot"
        tools:targetApi="31">
        <activity
            android:name=".admin_restaurante.perfil_admin_restaurante"
            android:exported="false" />
        <activity
            android:name=".admin_restaurante.admin_editar_restaurante"
            android:exported="false" />
        <activity
            android:name=".admin_restaurante.horarios_resta"
            android:exported="false" />
        <activity
            android:name=".admin_restaurante.horarios_restaurante"
            android:exported="false" />
        <activity
            android:name=".admin_restaurante.reportes_restaurante"
            android:exported="false" />
        <activity
            android:name=".admin_restaurante.historial_ordenes"
            android:exported="false" />
        <activity
            android:name=".admin_restaurante.abrir_restaurante"
            android:exported="false" />
        <activity
            android:name=".cliente.realizar_pedido_cliente"
            android:exported="false" />
        <activity
            android:name=".cliente.carrito_cliente"
            android:exported="false" />
        <activity
            android:name=".cliente.perfil_restaurante_cliente"
            android:exported="false" />
        <activity
            android:name=".cliente.detalles_pedido_cliente"
            android:exported="false" />
        <activity
            android:name=".cliente.historial_pedidos_cliente"
            android:exported="false" />
        <activity
            android:name=".cliente.inicio_cliente"
            android:exported="false" />
        <activity
            android:name=".cliente.perfil_cliente"
            android:exported="false" />
        <activity
            android:name=".repartidor.RegistroRepartidorActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>